{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-packagejson",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-jsdoc"
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^react$",
    "^next(/.*)?$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@nitap/(.*)$",
    "",
    "^[.]"
  ],
  "importOrderTypeScriptVersion": "7.0.0",
  "importOrderCaseSensitive": false,
  "tailwindStylesheet": "./apps/web/src/app/globals.css"
}
